<%- include("header"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Homemade+Apple&family=Nanum+Pen+Script&family=Nothing+You+Could+Do&family=Roboto+Slab:wght@300&family=Rock+Salt&display=swap" rel="stylesheet">
<head>
   <link href="/css/home.css" rel="stylesheet">
    <title>home page </title>
</head>
<body>

 <!--navbar-->
 


     <div class="navbar-cointainer">
    <nav class="navbar navbar-expand-lg navbar-dark "  style="height:70px; ">
        <div class="container-fluid" style="padding-left:0 ;">
          
          <div class="navbar-content">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          
            <div class="navbar-nav  justify-content-end  "  >
                <% if (locals.user){ %>
                   <a class="nav-link active" style= "margin-right: 450px;"aria-current="page" href="/user/profile/<%= user.id %>">Profile</a>  <% } %>
            <a class="nav-link active"style= "margin-right: 400px;" href="/sign-up">Sign-up</a>
             <a class="nav-link active " href="/sign-in">Sign-in</a></div>
              
            </div>
          </div>
        </div>
      </nav></div>


<!--Title-->
<div class="titlebox">
<div class="heading1">
<strong>
    Blogara</strong>
</div>
<h4 style="padding-left: 80px; padding-top: 20px;">Let's Start Together</h4>
</div>






    <!-- posting content -->
    
 
  
 
<section id="feed-posts">
   
    <% if(locals.user){ %>
        <h4> Create Post</h4>
       
    <form  action="/posts/create" id="new-post-form" method="POST" class="form-group">
         <textarea name="content"  cols="30" rows="2" placeholder="Type Here..."></textarea>
        <!-- <input  name="content" class="form-control"  placeholder="Type Here...">-->
       
        <input    type="submit" value="Post">
    </form>
    <% } %>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <p>
                     <% if (locals.user && locals.user.id == post.user.id) { %>
                            <small>
                                <a href="/posts/destroy/<%= post.id %>">X</a>
                            </small>
                           <% } %>
                           
                        
                     <div class="post"><strong><%= post.content %></strong></div>
                      <br>
                      <small><%="@"%> <%= post.user.name %></small>  
                    </p></li>
                    
                    <!--form for comment -->
                    <div id="comment-section">
                        <% if(locals.user) { %>
                    <form action="/comment/create" method="POST">
                        <textarea  type="text" name="content" rows="1" placeholder="comment here..."></textarea>
                        <input name="post" type="hidden" value="<%= post._id %>">
                        <input type="submit" value="add comment">

                    </form><% } %></div>

                    <!--Display comments on the post-->
                    <div id="comment-list">
                        <ul id="post-id-<%= post._id %>">
                            <% for(comment of post.comments) { %>
                        
                            <% if (locals.user && locals.user.id == comment.user.id){ %>
                                    <small>
                                        <a href="/comment/destroy/<%= comment.id %>">X</a>
                                    </small>
                                <% } %>

                          <small>  <%= comment.content  %> <%= comment.user.name %> </small><br>
                             <% } %>  
                           
                        </ul>
                    </div>   
                    <% } %></ul>


                  <% if(locals.user) {%>
                    <section id="user-friends">
                        <h4>Friends</h4>
                        <% for(u of allusers){%>
                            <p>
                                <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
                            </p>
                        <% } %>      <% } %>   
                        </div>

               

</body>
</html>
                           
                         
   
